<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="trace" xsi:type="Trace" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
    <!--<target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/${shortdate}.log" />-->
    <!--<target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${specialfolder:folder=ApplicationData}/Local/${shortdate}.log" />-->
    <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${environment:LOCALAPPDATA}/CIS/cis.${shortdate}.log" />
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="file" />
    <logger name="NHibernate" minlevel="Debug" writeTo="trace" />
    <logger name="NHibernate.SQL" minlevel="Debug" writeTo="trace" />
  </rules>
</nlog>